.no-user-avatar {
	opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  color: grey;
}

.edit-avatar-link:hover {
	text-decoration: none !important;
}

.delete-avatar-button {
	color: #0074c2;
	display: inline-block;
}

.user-avatar-form {
	position: absolute;
	width: 100%;
	bottom: 0;
}

