.no-user-picture {
	opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  color: grey;
}

.edit-picture-link:hover {
	text-decoration: none !important;
}

.delete-picture-button {
	color: #0074c2;
	display: inline-block;
}

.user-picture-form {
	position: absolute;
	width: 100%;
	bottom: 0;
}

